.slider {
  width: 100%;
  height: 400px;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.market {
  width: 120px;
  height: 40px;
  background-color: green;
  direction: ltr;
  border-radius: 15px;
  position: fixed;
  margin-left: 10px;
  align-items: center;
  top: 650px;
  left: 0;
  z-index: 4;
  [for="modal-2"] {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    padding-left: 15px;
    img {
      width: 20px;
      height: 20px;
      position: relative;
      left: 50px;
      bottom: 18px;
    }
    p {
      font-family: var(--font-family);
      font-size: 14px;
      color: whitesmoke;
      margin-top: 10px;
    }
  }
  #modal-2,
  #close-2 {
    display: none;
  }
  .open-2 {
    width: 350px;
    height: 360px;
    border-radius: 15px;
    direction: ltr;
    overflow: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    margin: 20px auto;
    z-index: 2;
    display: none;
    padding: 15px;
    p {
      font-size: 16px;
      font-family: yekan;
      color: #444;
      margin-left: 45px;
      margin-top: -25px;
    }
    span {
      font-size: 13px;
      color: gray;
      font-family: yekan;
      position: relative;
      top: 10px;
      left: 165px;
    }
    .open-2-item {
      display: flex;
      justify-content: space-between;
      .open-2-img {
        width: 48%;
        height: 250px;
        background-color: #feebde;
        margin-top: 30px;
        box-sizing: border-box;
        border-radius: 5px;
        direction: rtl;
        padding-top: 10px;
        padding-right: 10px;
        h6 {
          font-size: 16px;
          font-family: yekan;
          font-weight: normal;
        }
        h5 {
          width: 100px;
          height: 20px;
          display: block;
          font-size: 13px;
          font-family: yekan;
          font-weight: normal;
          margin-top: 10px;
          border: 1px solid #ff8042;
          background-color: #ff8042;
          border-radius: 15px;
          padding-right: 15px;
          border-top-right-radius: 0;
          color: whitesmoke;
        }
        img {
          width: 130px;
          height: 130px;
          padding-top: 95px;
        }
      }
      .open-2-img2 {
        width: 48%;
        height: 240px;
        background-color: #dbf3e6;
        margin-top: 30px;
        box-sizing: border-box;
        border-radius: 5px;
        direction: rtl;
        padding-top: 10px;
        padding-right: 10px;
        h6 {
          font-size: 16px;
          font-family: yekan;
          font-weight: normal;
        }
        h5 {
          width: 100px;
          height: 20px;
          display: block;
          font-size: 13px;
          font-family: yekan;
          color: whitesmoke;
          font-weight: normal;
          margin-top: 10px;
          border: 1px solid #029a49;
          background-color: #029a49;
          border-radius: 15px;
          border-top-right-radius: 0;
          padding-right: 15px;
        }
        img {
          width: 130px;
          height: 130px;
          padding-top: 95px;
        }
      }
    }
  }
  #modal-2:checked ~ .open-2 {
    display: block;
  }
}
.open-2 {
  [for="close-2"] {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #2b2b2b;
    font-size: 30px;
    cursor: pointer;
  }
  #close-2:checked ~ .open-2 {
    display: block;
  }
}
.online {
  width: 48px;
  height: 48px;
  background-color: crimson;
  direction: ltr;
  border-radius: 50% 50%;
  position: fixed;
  margin-left: 10px;
  align-items: center;
  top: 650px;
  right: 0;
  z-index: 4;
  [for="modal-3"] {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    padding-left: 13.5px;
    img {
      width: 20px;
      height: 20px;
      padding-top: 15px;
    }
  }
  #modal-3,
  #close-3 {
    display: none;
  }
  .open-3 {
    width: 360px;
    height: 500px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid crimson;
    direction: ltr;
    overflow: auto;
    position: fixed;
    left: 98%;
    top: 50%;
    transform: translate(-98%, -50%);
    background-color: whitesmoke;
    margin: 20px auto;
    z-index: 9;
    display: none;
    .online-item{
      width: 100%;
      height: 50px;
      background-color: crimson;
      margin-top: -35px;
      padding-top: 10px;
      p {
      font-size: 16px;
      font-family: yekan;
      color: whitesmoke;
      margin-left: 230px;

    }
    }
  }
  #modal-3:checked ~ .open-3 {
    display: block;
  }
}
.open-3 {
  [for="close-3"] {
    display: inline-block;
    width: 20px;
    height: 30px;
    text-align: center;
    color:whitesmoke;
    font-size: 30px;
    cursor: pointer;
    padding-left: 10px;
  }
  #close-3:checked ~ .open-3 {
    display: block;
  }
}
